pandas
python-dotenv
psycopg2-binary
sqlalchemy
dagster==1.8
dagster-dbt

# Google Service INteraction
google-auth
google-auth-oauthlib # For OAuth 2.0 flows. Common for Workspace (GSuite) applications
google-auth-httplib2
google-api-python-client