dagster==1.9
dagster-dbt
dagster-aws
dagster-ssh
dagster-postgres
dagster-pandas
dagster-github
dagster-docker
dagster-polars

dbt-core
dbt-postgres

sqlalchemy
psycopg2-binary
boto3

pandas
polars
python-dotenv
sshtunnel

# Google Service Interaction
google-auth
google-auth-oauthlib # For OAuth 2.0 flows. Common for Workspace (GSuite) applications
google-auth-httplib2
google-api-python-client

# Code Quality Tools / Static Analysis
black
pylint
mypy
pytest